 
/* General styles for both layouts */

:root {
  --primary: #fff5d7;
  --secondary:  #ffaaab ; 
  --text: #161748;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--primary);
  font-family: "Balsamiq Sans", cursive;
  color: var(--text);
  display: flex;
  align-items: center;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  gap: 1rem;
  padding: .5rem 1rem;
  text-transform: capitalize;
}

@media screen and (max-width: 990px) {
  .container {
      grid-template-columns: 1fr;
  }
}

/* Video playlist UI styles */

.video-playlist {
  width: 100%;
  height: 30rem;
  background-color: #fff5d7;
  color: var(--text);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.video-playlist .title {
  padding-left: 1rem;
}

.video-playlist > p {
  padding: 1rem;
  color: var(--secondary);
}

.video-playlist .videos{
  height: 70%;
  overflow-y: auto;
}
.video-playlist h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.video-playlist .title {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.video-playlist .title li {
  margin-bottom: 10px;
}

.video-playlist .subtopic-link {
  text-decoration: none;
  color: var(--text);
  font-size: 1rem;
  display: block;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.video-playlist .subtopic-link:hover {
  background-color: #555;
}



.video-container {
  position: relative;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;
  margin-top: .1rem;
  cursor: pointer;

  border-radius: .5rem;
}

#videoPlayer {
  width: 140%;
  height: 415px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#videoDuration {
  color: var(--text);
  margin-left: 2.5rem;
}


:root{
 
    
  --blue:#161748;
  --pink:#e84393;
  --pinky:#ffaaab ;
  --bac:#fff5d7;
}


* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body { 
  font-family: "Balsamiq Sans", cursive;
font-weight: 300;
font-size: 1rem;
line-height: 1.5rem;
text-align: justify;
color: var(--blue);
overflow-x: hidden;
background-color: #fff5d7;
}

.layout-wrapper {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
grid-auto-rows: minmax(150px, auto);
grid-auto-flow: dense;
grid-gap: 1em;
break-inside: avoid;
}

.cover-wrapper {
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
background: url("../images/bbbb.png") center center / cover no-repeat fixed; 
height: 100vh;
object-fit: contain;
}

.article-tags {
display: flex;
justify-content: center;
padding: 1rem 0;
}

.headline,
.subhead,
.article-meta,
aside,
h2 {
font-family: "Chakra Petch", sans-serif;
text-transform: uppercase;
}

figure,
img {
width: 100%;
max-width: 37.5rem;
}

figure {
position: relative;
margin: 0 auto;
}

img {
position: relative;
text-align: center;
object-fit: contain;
padding: 2rem 1rem;
}

figcaption {
position: absolute;
background-color: #000;
color: #fff;
font-size: 0.65rem;
text-transform: uppercase;
bottom: 0.75rem;
left: 2.75rem;
padding: 0.25rem;
}

.headline {
font-weight: 700;
font-size: 3rem;
line-height: 8rem;
text-align: center;
color: var(--blue);
text-shadow: 0.0625rem 0.0625rem 0.125rem black, 0.25rem 0.25rem 0 var(--blue),
  0.5rem 0.5rem 0 var(--pinky), 0.75rem 0.75rem 0.125rem black;
}

.page-sub {
background-color:var(--pinky);
padding: 3rem 0;
margin-top: 2rem;

/* https://codersblock.com/blog/creating-glow-effects-with-css/ */
box-shadow: inset 60px 0 120px var(--bac),
  /* left magenta */ inset -60px 0 120px var(--pinky); /* right cyan */
}

.subhead-container {
display: flex;
align-items: center;
justify-content: center;
padding: 1rem;
}

.subhead,
h2 {
font-weight: 700;
font-size: 1.5rem;
line-height: 1.5rem;
color: var(--blue);
margin-top: 2rem;
}

h2 {
text-align: left;
}

.subhead {
text-align: center;
}

.glow:hover {
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
from {
  box-shadow: 0 0 0.75rem #fb3ae3;
}
to {
  box-shadow: 0 0 1.5rem #fb3ae3;
}
}

@keyframes glow {
from {
  box-shadow: 0 0 0.75rem #fb3ae3;
}
to {
  box-shadow: 0 0 1.5rem #fb3ae3;
}
}

.article-meta {
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: center;
font-weight: 900;
font-size: 0.8rem;
margin: 0.75rem 0.5rem;
}

#author-avatar {
height: 2rem;
float: left;
}

.second-heading {
margin-top: 3rem;
}

aside {
color: rgb(18, 18, 121);
padding: 4rem 3rem 0 3rem;
font-size: 3.25rem;
line-height: 3.25rem;
text-align: center;
}

.full-width-span {
grid-column: span 2;
margin: 0;
}

.section-1 > p,
.section-2 > p,
.section-3 > p {
padding-top: 1rem;
}

.section-1,
.section-2,
.section-3 {
padding: 3rem;
columns: 2 600px;
column-gap: 4em;
column-rule: 1px dotted var(--blue);
column-fill: auto;
}

.section-2,
.section-3,
.full-width-span {
padding-top: 0;
}

.section-3 > p:last-of-type {
margin-bottom: 3rem;
}

.byline,
.dateline {
padding-right: 1rem;
}

.tag {
background-color: black;
margin: 0.5rem 0.5rem 0.5rem 1rem;
font-weight: 700;
text-align: center;
text-transform: uppercase;
width: 100%;
color: white;

/* needed to center text due to below featured border */
border: 2px solid #5c0dfc;
}

.featured {
border: 2px solid #fb3ae3;
}

.first-paragraph::first-letter {
font-family: "Chakra Petch", sans-serif;
font-size: 5rem;
padding: 1rem;
margin-right: 0.25rem;
float: left;
color: var(--pinky);
font-weight: 900;
text-shadow: 0.0625rem 0.0625rem 0.125rem black, 0.25rem 0.25rem 0 #0e028c;
}

@media (max-width: 61rem) {
.layout-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.headline {
  font-size: 13vw;
  line-height: 8vw;
}

.tag {
  padding: 0.5rem;
  margin: 0.5rem;
}

.page-sub {
  padding: 0.5rem;
}

aside {
  font-size: 8vw;
  line-height: 8vw;
}

.section-2,
.section-3 {
  padding: 0 3rem;
}

figure,
img {
  width: 75vw;
  max-width: 75vw;
}
}