<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ballroom Dance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kandy.css') }}">
      
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    
    <link href='http://weloveiconfonts.com/api/?family=entypo' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    
    
    </head>
    <body>
    <!-- partial:index.partial.html -->
    <aside class="container">
      <input type="checkbox" id="menu__trigger">
      <section class="menu">
        <!--<label for="menu__trigger" class="entypo-cancel"></label>-->
        <nav>
            <a href="#Introduction">1. Introduction</a>
            <a href="{{ url_for('ba') }}">2. Ballet dances</a>
            <a href="{{ url_for('hp') }}">3. Hip Hop  dances</a>
            <a href="{{ url_for('jaz') }}">4.Jazz  dances</a>
            <a href="{{ url_for('tap') }}">5. Tap Dance</a>
            <a href="{{ url_for('cou') }}">6. Country Western Dance</a>
            <a href="{{ url_for('bal') }}">7. Ballroom Dance</a>
            <a href="{{ url_for('homee') }}">8. Home</a>
          </nav>
      </section>
      
      <section class="content">
        <label for="menu__trigger" class="entypo-menu"></label>
       
          
      </section>
  
    </aside>
<main id="documentation">
    <div class="blog" id="Blog">
        <h2>Ballroom Dance</h2>
        <div class="blog_box">
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/bal02.png') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"></p>History
                    <p>
                        Ballroom dance, an elegant partner tradition, traces its roots through the annals of social and courtly history. Evolving from elaborate court dances and refined social gatherings, it emerged as a prominent cultural expression. From the grandeur of royal courts to the ballrooms of society, ballroom dance has adapted and transformed, becoming a timeless testament to the art of refined movement and interpersonal connection.</p>
                    
                </div>
            </div>
            <hr>
            <div class="blog_card_2">
                <div class="blog_tag">
                    <p class="date"><i class=""></i>    Costume:</p>
                    <p>
                        The attire in ballroom dance is a visual extension of the grace and sophistication inherent in the movements. Dancers don exquisitely tailored costumes, reflecting the specific style of dance and the formality of the occasion. From the flowing gowns of the waltz to the sleek elegance of tango attire, costumes play a vital role in enhancing the aesthetic appeal, allowing dancers to embody the spirit of each distinct dance form.</p>
                </div>
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/bal01.png') }}">
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/bal03.png') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"><i class=""></i></p>
                    <p>
                        <p>   Music Accompaniment:</p>
                        <p>
                            The heart of ballroom dance beats to the rhythm of diverse musical genres. From classical compositions to contemporary tunes, each dance style is accompanied by music that complements its character. The waltz glides to classical melodies, the foxtrot sways to big band sounds, the tango pulses with dramatic Latin beats, and the salsa bursts with energetic rhythms. The marriage of movement and music in ballroom dance is a harmonious dialogue, where partners communicate through the language of dance, creating moments of timeless elegance and connection.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
