<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bharatanatyam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hel.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"/>
  
</head>
<body>
<!-- partial:index.partial.html -->
<div class="layout-wrapper">
	<nav class="cover-wrapper">
		<header class="page-header">
			<h1 class="headline">Bharatanatyam</h1>
		</header>
		<div class="page-sub">
			<div class="subhead-container">
				<h2 class="subhead">Bharatanatyam's Resilient Revival: A Symphony of Tradition and Triumph</h2>
			</div>
			<div class="article-meta">
				<svg id="author-avatar" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" width="80" height="80">
					<title id="avatarTitle">Author Avatar</title>
					<desc id="avatarDesc">A cartoon avatar of a smiling purple square on a blue background.</desc>
					<mask id="mask__beam" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36">
						<rect width="36" height="36" rx="72" fill="white"></rect>
					</mask>
					<g mask="url(#mask__beam)">
						<rect width="36" height="36" fill="#0ebeff"></rect>
						<rect x="0" y="0" width="36" height="36" transform="translate(6 6) rotate(192 18 18) scale(1)" fill="#754cac" rx="6"></rect>
						<g transform="translate(0 2) rotate(-2 18 18)">
							<path d="M13,19 a1,0.75 0 0,0 10,0" fill="white"></path>
							<rect x="12" y="14" width="1.5" height="2" rx="1" stroke="none" fill="white"></rect>
							<rect x="22" y="14" width="1.5" height="2" rx="1" stroke="none" fill="white"></rect>
						</g>
					</g>
				</svg>
				<p class="byline"></p>
				<p class="dateline"></p>
			</div>
		</div>
	</nav>
	<div class="section-1">
		<p class="article-tags">
			<span id="culture-tag" class="tag">Exam details</span>
			<span id="games-tag" class="tag">Rules</span>
			<span id="featured-tag" class="tag featured glow">Modules</span>
		</p>
		<p class="first-paragraph">Bharatanatyam, a classical Indian dance, draws its theoretical foundations from both the Tamil text, Kootha Nool, and the Sanskrit Natya Shastra, attributed to the ancient scholar Bharata Muni. The Natya Shastra, composed between 200 BCE and 200 CE, provides a comprehensive framework, detailing the Tāṇḍava dance of Shiva, rasa theory, bhāva, gestures, and standing postures integral to Indian classical dances.  </p>
		<p>Historical references to dance appear in Tamil epics Silappatikaram (2nd century CE) and Manimegalai (6th century). Intricate carvings in temples, like those in Kanchipuram and Chidambaram, offer a visual narrative, while Bharatanatyam's poses mirror ancient Shiva sculptures. </p>
		<p>The dance faced colonial challenges, with a misguided association with courtesan culture leading to a 1910 ban on temple dancing. </p>
		<p>Post-colonial revivalists like Rukmini Devi Arundale revitalized Bharatanatyam outside temples, ensuring its preservation and recognition as a classical dance tradition in independent India.</p>
		<p>This revival was both a reclamation of cultural heritage and a response to colonial suppression, culminating in state-sponsored dance festivals that showcased the diverse and sacred art form on a national platform. In the late 20th century, Tamil Hindu migrants reinstated temple dance traditions in British Tamil temples, marking a continuation of Bharatanatyam's resilient journey through history.</p>
	</div>
	<aside class="full-width-span">
		<p>"</p>
		<p>Art in Motion: Bharatanatyam - Where Tradition and Expression Unite.</p>
		<p>"</p>
	</aside>
	<div>
		<div class="section-2">
			<h2>Bharatanatyam's Cultural Heirloom: A New Wave of Artistic Mastery Emerges Center Stage</h2>
			<figure><img src="{{ url_for('static', filename='images/cut01.jpg') }}" alt="two people playing Guitar Hero Arcade. " />
				<figcaption></figcaption>
			</figure>
			<!-- full size image: https://images.unsplash.com/photo-1536818968680-deeec2e9fd11-->
			<p>Bharatanatyam, a classical Indian dance, epitomizes a traditional team performance with a solo dancer, accompanied by musicians and singers. Rooted in classical art, its theory aligns with the Natya Shastra and texts like the Abhinaya Darpana.  </p>
			<p>The solo artist, bedecked in vibrant attire, weaves a dance narrative synchronized with classical music, employing coded gestures to recount legends and spiritual tales. Abhinaya, the expressive art, integrates footwork, body language, and music to convey profound meanings.</p>
			<p>Modern adaptations feature dance troupes interpreting stories with creative choreography.</p>
			<p> The dance's repertoire, following the Natya Shastra, encompasses Nritta (abstract and rhythmic), Nritya (expressive and communicative), and Natya (a play involving standardized body movements). </p>
            <p> Bharatanatyam is described as an artistic Yoga, where the dancer's body becomes a conduit for spiritual expression, dissolving her identity in rhythm and music.</p>
			<p> This traditional order of recital, from alarippu to tillana, reflects the correct sequence for revealing the spiritual through the corporeal. In essence, Bharatanatyam unfolds as a sacred journey, consecrating the body and spirit through the seamless interplay of movement, music, and meaning.</p>

		</div>
		<div class="section-2">
			<h2>Arangetram Triumph: A New Era of Bharatanatyam Dancers Ascends the Stage</h2>

			<p></p>

			<figure><img src="{{ url_for('static', filename='images/bbb2jpg') }}" alt="three neon-lit skee ball lanes. " />
				<figcaption></figcaption>
			</figure>

			<!-- full size image: https://images.unsplash.com/photo-1533236897111-3e94666b2edf -->

			<p>Arangetram, the pinnacle of a Bharatanatyam dancer's training, marks the solo debut after a decade of rigorous learning. Translating to "ascending the stage," this performance is a rite of passage, symbolizing the dancer's readiness for a solo journey.</p>
			<p>The arangetram is a testament to years of collaboration between student and guru, showcasing dedication and honed skills.</p>
			<p>The dancer, adorned in vibrant attire, performs a series of dances for approximately three hours, each symbolizing aspects of Hindu religion.</p>
			<aside>
				<p>"</p>
				<p>Nritya, Art's Poetry: The Soulful Harmony of Expression and Movement in Bharatanatyam.</p>
				<p>"</p>
			</aside>
			<p> The sequence begins with Pushpanjali, offering salutations to deities, guru, and audience. Alarippu follows, a rhythmic invocation and warm-up dance. Jatiswaram adds melody to movement, maintaining the purity of form. Shabdam introduces expressed words, praising deities. </p>
			<p>Varnam, the core, allows extensive improvisation and storytelling through intricate movements. Padam follows, expressing reverence and spirituality. The Tillana serves as the climax with rhythmic pure movement, concluding with Shlokam or Mangalam, invoking blessings. This structured sequence embodies a remarkable completeness and symmetry, showcasing Bharatanatyam's essence as an art form that seamlessly weaves together meter, melody, meaning, and spirituality.</p>
		</div>
	</div>
	<div class="section-3">

		<h2>Exploring the Symbiosis of Music Accompaniment and Costumes in Bharatanatyam</h2>
		<p>In Bharatanatyam, costumes play a crucial role in enhancing the visual and symbolic elements of the dance.</p>

		<figure><img src="{{ url_for('static', filename='images/bbb3.jpg') }}" alt="a person wearing a bucket hat, sitting on a skee ball machine lane. " />
			<figcaption></figcaption>
		</figure>

		<!-- full size image: https://images.unsplash.com/photo-1601637155580-ac6c49428450-->

		<p>Female dancers don a vibrant sari with intricate zari embroidery, resembling a Tamil Hindu bridal dress. The ensemble includes a pleated piece, a hip cover, and a torso piece, creating a dynamic and expressive look. Male dancers often wear a draped white cotton cloth or a dhoti, with the upper body left bare. Both genders adorn themselves with elaborate jewelry, emphasizing ears, nose, neck, and wrists. </p>
		<p>Female dancers wear additional head jewelry symbolizing the sun and moon.</p>
		<p>Hair, either long or extended through braids or bun pieces, is adorned with imitation flowers. Makeup, including foundation and bold eyeliner, helps convey facial expressions. Leather anklets with bells, known as salangai or ghungroos, adorn the feet, accentuating rhythm and footwork. Red kumkum powder outlines hands and feet, highlighting gestures.</p>
		<p> During classes or rehearsals, dancers opt for specially designed cotton saris, paired with pyjamas and blouses. </p>
		<p>The accompanying Carnatic music features instruments like the mridangam, nadaswaram, flute, violin, and veena, creating a harmonious backdrop. The recitation and verses are delivered in Tamil, Telugu, Kannada, and Sanskrit, adding linguistic richness to the performance. The costumes and adornments in Bharatanatyam symbolize tradition, spirituality, and the expressive depth inherent in this classical dance form.</p>

		<figure><img src="{{ url_for('static', filename='images/tardi02.jpg') }}" alt="a person in black high-heeled boots sitting on an arcade basketball game. " />
			<figcaption></figcaption>
		</figure>

		<!-- full size image: https://images.unsplash.com/flagged/photo-1556491168-3e6ffa3e26b2-->

		<p>Bharatanatyam, a classical dance form rooted in Indian tradition, is accompanied by a rich musical ensemble in the Carnatic style. The music serves as a vital component, complementing the dance movements and enhancing the overall performance. Here are key elements of the music accompaniment in Bharatanatyam:

            Nattuvanar (Conductor): The vocalist in Bharatanatyam is often referred to as the Nattuvanar, who not only sings but also serves as the conductor of the entire performance. This role may be assumed by the guru of the dancer, adding a deeper connection between music and dance. 
            
           </p>
		<p>Vocal Music: The recited verses and textual components in Bharatanatyam are typically presented through singing. The vocal rendition, in languages such as Tamil, Telugu, Kannada, and Sanskrit, adds a lyrical and melodic dimension to the dance.</p>

		<figure><img src="{{ url_for('static', filename='images/bbb1.jpg') }}" alt="a person in a white t-shirt sitting on a wheel of fortune arcade game. " />
			<figcaption></figcaption>
		</figure>

		<!-- full size image: https://images.unsplash.com/photo-1604112900927-e4d6d3ce3a2e -->

		<p> Instruments:
            
            Mridangam: A double-sided drum, the mridangam, provides rhythmic accompaniment, accentuating the beats and nuances of the dance.
            </p>
		<p>Nadaswaram: A long oboe made from black wood, the nadaswaram adds a distinctive timbre to the musical ensemble.</p>
		<aside>
			<p>"</p>
			<p>In Bharatanatyam, the mridangam's beats and melodic whispers of flute, veena, and violin form a rhythmic dialogue, echoing the dancer's emotive journey</p>
			<p>"</p>
		</aside>
		<p> Nattuvangam (Cymbals): Cymbals played by the Nattuvanar contribute to the rhythmic patterns and provide cues for the dancer's movements.
            Flute, Violin, and Veena: These melodic instruments contribute to the overall musical tapestry, creating a harmonious blend of sound.</p>
		<p>The musical accompaniment in Bharatanatyam is finely tuned to the intricate footwork, expressive gestures, and storytelling elements of the dance. It adds depth, emotion, and cultural richness to the performance, creating a holistic sensory experience for the audience.</p>
	</div>
</div>
<!-- 
    partial -->

<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbot.png') }}" alt="Chatbot" width="100" height="100"></button>
        </div>
    </div>
</div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        // Get the span elements by their IDs
        var cultureTag = document.getElementById('culture-tag');
        var gamesTag = document.getElementById('games-tag');
        var featuredTag = document.getElementById('featured-tag');
    
        // Add click event listeners to the span elements
        cultureTag.addEventListener('click', function() {
            window.location.href = "{{ url_for('exam') }}";
        });
    
        gamesTag.addEventListener('click', function() {
            window.location.href = "{{ url_for('rule') }}";
        });
    
        featuredTag.addEventListener('click', function() {
            window.location.href = "{{ url_for('barth') }}";
        });
    </script>
    
</body>
</html>
