<!DOCTYPE html>
<html>
<head>
    <title>Barathanatyam</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/barth.css') }}">
</head>
<body>
	<div class="content">
		<h3><b>Syllabus for Bhatkhande Bharatanatyam Examination</b></h3>
		
		
	</div>
	<div class="button-container">
        <a href="/modules" class="neon-button">PRATHMA</a>
        <a href="#" class="neon-button">MADHYAMA</a>
        <a href="#" class="neon-button">VISHARAD PART I</a>
        <a href="#" class="neon-button">VISHARAD PART II</a>
    </div>
    <section >
		<div class="row">
			<div class="video-container">
				<img src="{{ url_for('static', filename='images/bbe.jpg') }}" alt="">
				
			</div> 
			<div class="content">
				<h3>syllabus of Barathanatyam</h3>
				<p>Bharatanatyam syllabus encompasses a rich tapestry of Indian classical dance. Students journey through the art's history, from mythological origins to regional nuances. They master intricate mudras (hand gestures), learn ancient and modern compositions, and delve into the cultural context of this expressive form. A harmonious blend of theory and practice, Bharatanatyam syllabus unfolds a profound dance narrative.</p>
				
			</div>
		</div>

	</section>

   
</body>
</html>