<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local Dancing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kandy.css') }}">
</head>

<body>
<nav id="sidebar">
    <h2>Classical Dance</h2>
    <ul>
        <li><a class="nav-item" href="{{ url_for('Local') }}">Introduction</a></li>
        <li><a class="nav-item" href="{{ url_for('kandy') }}">Kandyan dances</a></li>
        <li><a class="nav-item" href="{{ url_for('lowc') }}">Low Country dances</a></li>
        <li><a class="nav-item" href="{{ url_for('saba') }}">Sabaragamu dances</a></li>
        <li><a class="nav-item" href="{{ url_for('dev') }}">Devil dances</a></li>
        <li><a class="nav-item" href="{{ url_for('fol') }}">Folk dances</a></li>
        <li><a class="nav-item" href="{{ url_for('dar') }}">Dance drama</a></li>
        <li><a class="nav-item" href="{{ url_for('home') }}">Home</a></li>
    </ul>
</nav>
<main id="documentation">
    <div class="blog" id="Blog">
        <h1>Dance drama- Sri Lankan Classical Dance</h1>
        <div class="blog_box">
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/dar01.jpg') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"></p>History
                    <p>
                        The Kolam dance-drama is a unique form of artistic expression in the low country regions of Sri Lanka. 
                        Performers adorn masks representing various figures, including animals, kings, and dignitaries. 
                        Unlike traditional rituals, Kolam focuses on amusement and social commentary, offering a blend of entertainment and satire.
                    </p>
                    <p>
                        
                    </p>
                </div>
            </div>
            <hr>
            <div class="blog_card_2">
                <div class="blog_tag">
                    <p class="date"><i class=""></i> </p>
                    <p>
                       
                      
                    </p>
                </div>
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/dar02.jpg') }}">
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/dar03.jpg') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"><i class=""></i></p>
                    <p>
                        <p>  </p>
                        <p>


                          
                            
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
