<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/degree.css') }}">
    <title>University Degrees</title>
</head>
<body>
    <h1>Degrees</h1>
    <a href="{{ url_for('uni') }}" class="back-button">Back to University</a>
    <form action="{{ url_for('degrees_page') }}" method="POST">
        <label for="university">Select University:</label>
        <select name="university" id="university">
            {% for university in universities %}
                <option value="{{ university[0] }}">{{ university[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>
    
    {% if degrees %}
        <h2>Degrees at {{ selected_university[1] }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Degree Name</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                {% for degree in degrees %}
                <tr>
                    <td>{{ degree[2] }}</td>
                    <td>{{ degree[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="placeholder-image"><img  src="{{ url_for('static', filename='images/dance.jpg') }}"></div>
</body>
</html>
