<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local Dancing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kandy.css') }}">
      
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    
    <link href='http://weloveiconfonts.com/api/?family=entypo' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    
    
    </head>
    <body>
    <!-- partial:index.partial.html -->
    <aside class="container">
      <input type="checkbox" id="menu__trigger">
      <section class="menu">
        <!--<label for="menu__trigger" class="entypo-cancel"></label>-->
        <nav>
          <a href="#Introduction">1. Introduction</a>
          <a href="{{ url_for('kandy') }}">2. Kandyan dances</a>
          <a href="{{ url_for('lowc') }}">3. Low Country dances</a>
          <a href="{{ url_for('saba') }}">4. Sabaragamu dances</a>
          <a href="{{ url_for('dev') }}">5. Devil dances</a>
          <a href="{{ url_for('fol') }}">6. Folk dances</a>
          <a href="{{ url_for('dar') }}">7. Dance drama</a>
          <a href="{{ url_for('homee') }}">8. Home</a>
        </nav>
      </section>
      
      <section class="content">
        <label for="menu__trigger" class="entypo-menu"></label>
       
          
      </section>
  
    </aside>
<main id="documentation">
    <div class="blog" id="Blog">
        <h2>Devil dances - Sri Lankan Classical Dance</h2>
        <div class="blog_box">
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/de01.jpg') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"></p>History
                    <p>
                        "Devil Dances" are a response to the belief that certain ailments and misfortunes are caused by unseen forces. 
                        These dances aim to chase away these negative influences to facilitate the patient's healing and well-being.  
                    </p>
                    <p>
                        <p class="date"></p> Masks:
                        <br>
                        <br>
                        Different masks depict various characters, and dancers wear them during processions and ceremonies.  
                    </p>
                </div>
            </div>
            <hr>
            <div class="blog_card_2">
                <div class="blog_tag">
                    <p class="date"><i class=""></i>  Components and Preparation:</p>
                    <p>
                       
                        The devil dance ritual involves building a stage, decorations, and costume preparation. The intricate stage,
                         often made from natural materials, sets the scene for the dances.
                         Drummers accompany the dances, signaling the start of the ritual and drawing community participation.   
                       
                    </p>
                </div>
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/de02.jpg') }}">
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/de03.jpg') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"><i class=""></i></p>
                    <p>
                        <p>Duration and Consumables:</p>
                        <p>
                            
                            The full ritual can extend into the morning hours, with dancers staying awake by consuming betel-nut juice and drinks.
                             Depending on the circumstances, dances may continue for multiple days, maintaining a strong \
                             connection to the community's traditions.
                            
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
