<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bharatanatyam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/exam.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"/>
</head>
<body>
    <div class="back-button-container">
        <a href="{{ url_for('homee') }}" class="back-button"><i class="fa-solid fa-house-user fa-beat fa-2xl" style="color: #183153;"></i></a>  
    </div>
<!-- partial:index.partial.html -->
<div class="container">
    <h1>A Detailed Summary of Visharad</h1>
    <h4>Bhatkhande Sangeet Vidyapeeth Examination Structure: <i>Prathama, Madhyama, and Visharad Levels</i></h4>
      <ul class="timeline">
        
          <li class="timeline">
            <div class="icon done"></div>
            <details class="panel">
              <summary>Examination of Prathama </summary>
              <p><strong>Practical       </strong>Max Marks: 200 , Min. Pass Marks: 66 <br><br>
  <strong>Theory  </strong>Max Marks: 100 , Min. Pass Marks: 33, 3 hour paper <br><br>
 <strong>Division is Calculated as follows:
      </strong>   I Division: >= 60%,    II Division: >= 45%,    III Division:>= 33%    </p>
            </details>
          </li>
        
          <li class="timeline">
            <div class="icon done"></div>
            <details class="panel">
              <summary>Admission to the Prathama Examination –</summary>
              <p>Admission to the Prathama Examination shall be granted only to those who have completed the prescribed course of studies from :<br>
                
                (i)     The institutions affiliated to the Bhatkhande Sangit Vidyapith, Lucknow.,<br>
                
                (ii)    The Institutions recognized by the Vidyapith.<br>
                
                (iii)   Under the private coaching of reputed dancing and qualified teachers.</p>
            </details>
          </li>
        
          <li class="timeline">
            <div class="icon working"></div>
            <details class="panel">
              <summary>Examination of Madhyama</summary>
              <p><strong>Practical       </strong>Max Marks: 200 , Min. Pass Marks: 66 <br><br>
                <strong>Theory  </strong>Max Marks: 100 , Min. Pass Marks: 33, 3 hour paper  <br><br>
                <strong>Division is Calculated as follows:
                </strong>   I Division: >= 60%,    II Division: >= 45%,    III Division:>= 33%   </p>
                          </details>
          </li>
        
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary>Admission to the Madhyama Examination –</summary>
              <p>
                Admission to the Madhyama Examination shall be granted to those who have passed the Prathama Examination of the Vidyapith and thereafter pursued likewise the further prescribed course of study for full one year.
                Note: No candidate will be eligible to appear direct at the Madhyama Examination unless he/she has passed the Prathama Examination.
                Provided that those Candidates who have passed the Intermediate Examination of the Board of Education, U.P. or those who have passed the Higher Secondary Examination of any recognized University of India, with Dance as one of their subjects in the Intermediate of Higher Secondary respectively, will be eligible to appear direct at the Madhyama Examination.</p>
            </details>
          </li>
        
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
                <summary>Examination of Visharad</summary>
                <p><strong>There shall be two parts – Visharad Part-I and Part-II, each carrying the following marks separately:- </strong>

                <br>  (a)    A candidate must pass both in Theory and Practical, Separately. If one fails either in Theory or Practical he/she shall be deemed to have failed in the examination.<br>
                  
                  (b)   In case any candidate who secures 3 marks less than minimum passing marks, a grace of 3 marks will be given by Vice-President Bhatkhande Sangit Vidyapith. This will not be implacable for both theory and Practical at a time.<br>
                  
                  (c)   The minimum percentage of marks required for a pass in the first, second and third divisions are us under :-<br>
                  
                        Min. pass marks for : I Div. 60% in the aggregate.<br>
                  
                        Min. pass marks for : II Div. 45% in the aggregate.<br>
                  
                        Min. pass marks for : III Div. 33% in the aggregate.<br>
                  
                  (d)   Minimum marks required for Distinction – 75% in the aggregate on the aggregate marks obtained both in Visharad Part I and II.   </p>
                            </details>
          </li>
        
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary>Admission to the Visharad Examination –</summary>
              <p>

                Admission to the examination for Visharad shall be granted only to those who have passed the Madhyama Examination of the
          Vidyapith or its equivalents and thereafter pursued likewise the further prescribed course of study for two complete years.</p>
            </details>
          </li>
        

        
      </ul>
  </div>
    
</body>
</html>
