<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bharatanatyam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"/>
</head>
<body>

    <h1>Rules</h1>
    <div class="back-button-container">
        <a href="{{ url_for('homee') }}" class="back-button"><i class="fa-solid fa-house-user fa-beat fa-2xl" style="color: #183153;"></i></a>  
    </div>
    <div class="table">
      <section>
        <details class="card">
          <summary class="property lightblue">
            <span class="eyebrow">Prathama</span>
            General Rules
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
          </div>
          <p class="hotel"></p>
          <p class="mortgage"></p>
          <p class="houses">Examination of Prathama – After study for two years.</p><br>
          <p class="hotelCost">A Candidate shall be required to Pass the Theory & Practical Examination Separately.</p>
          <p class="disclaimer"></p>
        </details>
    
        <details class="card">
          <summary class="property lightblue">
            <span class="eyebrow"></span>
            Traditional Rules.
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
          </div>
          <p class="hotel">To Pass the examination, a Candidate needs to secure 33% or above of Total Marks in Theory and Practical Separately.        </p>
          <p class="mortgage"></p>
          <p class="houses"></p>
          <p class="hotelCost"></p>
         
        </details>
    
        <details class="card">
          <summary class="property lightblue">
            <span class="eyebrow"></span>
            Formal Rules
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
          </div>
          <p class="hotel"></p>
          <p class="mortgage"></p>
          <p class="houses">In case of discrepancy between Marksheet & Mark Register of the Bhathkhande Sangit Vidyapith Lucknow, the marks entered in the marks register shall beated final</p><br>
          <p class="hotelCost">If any discrepancy is found in the Marksheet / Result, same should be reported immediately to the Registrar, Bhathkhande Sangit Vidyapith, Lucknow in written, duly mentioning the discrepancy along with Photo copy of the Marksheet.
        </p>
          <p class="disclaimer"></p>
        </details>
      </section>
    
      <section>
        <details class="card">
          <summary class="property yellow">
            <span class="eyebrow">Madhyama</span>
            General Rules
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="c"></div>
          </div>
          <p class="hotel"></p>
          <p class="mortgage">Examination of Madhyama – Two year after the Prathama examination.</p><br>
          <p class="houses">A Candidate shall be required to Pass the Theory & Practical Examination Separately.</p>
          <p class="hotelCost"></p>
          <p class="disclaimer"></p>
        </details>
    
        <details class="card">
          <summary class="property yellow">
            <span class="eyebrow"></span>
            Traditional Rules
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
             <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
          </div>
          <p class="hotel">To Pass the examination, a Candidate needs to secure 33% or above of Total Marks in Theory and Practical Separately.        </p>
          <p class="mortgage"></p>
          <p class="houses"></p>
          <p class="hotelCost"></p>
          <p class="disclaimer"></p>
        </details>
    
        <details class="card">
          <summary class="property yellow">
            <span class="eyebrow"></span>
            Formal Rules
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
          </div>
          <p class="hotel"></p>
          <p class="mortgage"></p>
          <p class="houses"></p>
          <p class="houses">In case of discrepancy between Marksheet & Mark Register of the Bhathkhande Sangit Vidyapith Lucknow, the marks entered in the marks register shall beated final</p><br>
          <p class="hotelCost">If any discrepancy is found in the Marksheet / Result, same should be reported immediately to the Registrar, Bhathkhande Sangit Vidyapith, Lucknow in written, duly mentioning the discrepancy along with Photo copy of the Marksheet.
        </p>
        </details>
    
    
      </section>
    
      <section>
        <details class="card">
          <summary class="property darkblue">
            <span class="eyebrow">Visharad Pt. I</span>
            General Rules
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
          </div>
          <p class="hotel"></p>
          <p class="mortgage"></p>
          <p class="houses"> Examination of Visharad Pt. I – Two year after the Madhyama examination.</p>
          <p class="hotelCost"></p>
          <p class="disclaimer"></p>
        </details>
    
        <details class="card">
          <summary class="property darkblue">
            <span class="eyebrow">Visharad Pt. II</span>
            General Rules
          </summary>
          <p class="rent"></p>
          <div class="priceTable">
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
            <div class="qty"></div><div class="price"></div>
          </div>
          <p class="hotel"></p>
          <p class="mortgage">Examination of Visharad Pt. II – One year after the Visharad Pt. II – Two year after Visharad Pt. I examination.</p>
          <p class="houses"></p>
          <p class="hotelCost"></p>
          <p class="disclaimer"></p>
        </details>
      </section>
    </div>
    
</body>
</html>
