<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local Dancing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kandy.css') }}">
      
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    
    <link href='http://weloveiconfonts.com/api/?family=entypo' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    
    
    </head>
    <body>
    <!-- partial:index.partial.html -->
    <aside class="container">
      <input type="checkbox" id="menu__trigger">
      <section class="menu">
        <!--<label for="menu__trigger" class="entypo-cancel"></label>-->
        <nav>
          <a href="#Introduction">1. Introduction</a>
          <a href="{{ url_for('kandy') }}">2. Kandyan dances</a>
          <a href="{{ url_for('lowc') }}">3. Low Country dances</a>
          <a href="{{ url_for('saba') }}">4. Sabaragamu dances</a>
          <a href="{{ url_for('dev') }}">5. Devil dances</a>
          <a href="{{ url_for('fol') }}">6. Folk dances</a>
          <a href="{{ url_for('dar') }}">7. Dance drama</a>
          <a href="{{ url_for('homee') }}">8. Home</a>
        </nav>
      </section>
      
      <section class="content">
        <label for="menu__trigger" class="entypo-menu"></label>
       
          
      </section>
  
    </aside>
<main id="documentation">
    <div class="blog" id="Blog">
        <h2>Sabaragamu dances (Sabaragamuwa Natum)- Sri Lankan Classical Dance</h2>
        <div class="blog_box">
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/saba01.jpg') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"></p>History
                    <p>
                        Sabaragamuwa Dance has its roots in the Ratnapura District and various areas of the Kegalle District. 
                        The dance method is practiced across scattered regions,
                         with Klonne Koralaya, Dekoralaya, and Kukulu Koralaya being prominent areas associated with Sabaragamuwa Dance.

                    </p>
                    <p>
                        
                    </p>
                </div>
            </div>
            <hr>
            <div class="blog_card_2">
                <div class="blog_tag">
                    <p class="date"><i class=""></i> Musical Instrument:</p>
                    <p>
                       
                        The primary musical instrument used in Sabaragamuwa Dance is the Dawula. This instrument holds a unique significance as
                         it is one of the few instruments that still employs dual action, involving both hands and Kadippu (attached sticks).
                    </p>
                </div>
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/saba02.jpeg') }}">
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="{{ url_for('static', filename='images/saba03.jpeg') }}">
                </div>
                <div class="blog_tag">
                    <p class="date"><i class=""></i></p>
                    <p>
                        <p>   Dressing Style:</p>
                        <p>


                            The characteristic attire worn during Sabaragamuwa Dance is known as "Saman Devi Andum Kattalaya" or the cold Sabaragamuwa Dressing. 
                            This attire contributes to the unique visual appeal of the dance and reflects the cultural identity of the region.
                            
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
