<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Responsive Video Playlist Tutorial</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/tuto.css') }}">

</head>
<body>
      
<div class="container">
   <div class="back-button-container">
      <a href="{{ url_for('home') }}" class="back-button">Back to Home <i class="fa fa-arrow-left"></i></a>
   </div>

   <h1 class="header-topic">Dance Tutorial Videos</h1>
<div class="container">

   <div class="main-video-container">
      <video src="{{ url_for('static', filename='images/song2.mp4') }}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">Dance Cover</h3>
   </div>
   
   
   <div class="main-video-container">
      <video src="{{ url_for('static', filename='images/song2.mp4') }}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">Dance Cover</h3>
   </div>

   
   <div class="main-video-container">
      <video src="{{ url_for('static', filename='images/song2.mp4') }}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">Dance Cover</h3>
   </div>
   <div class="main-video-container">
      <video src="{{ url_for('static', filename='images/song2.mp4') }}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">Dance Cover</h3>
   </div>

   <div class="main-video-container">
      <video src="{{ url_for('static', filename='images/song2.mp4') }}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">Dance Cover</h3>
   </div>
   
   
   <div class="main-video-container">
      <video src="{{ url_for('static', filename='images/song2.mp4') }}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">Dance Cover</h3>
   </div>
 
   

   <div class="video-list-container">

      <div class="list active">
         <video src="{{ url_for('static', filename='images/song2.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Dance Cover</h3>
      </div>
      

      <div class="list">
         <video src="{{ url_for('static', filename='images/song1.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Wedding Dance</h3>
      </div>

      

      <div class="list">
         <video src="{{ url_for('static', filename='images/song3.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Classical Dance</h3>
      </div>

      <div class="list">
         <video src="{{ url_for('static', filename='images/song4.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Western Dance</h3>
      </div>

      <div class="list">
         <video src="{{ url_for('static', filename='images/song5.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Indian classical dance</h3>
      </div>

      <div class="list">
         <video src="{{ url_for('static', filename='images/song6.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Indian dance</h3>
      </div>

      <div class="list">
         <video src="{{ url_for('static', filename='images/song7.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Workout Dance</h3>
      </div>

      <div class="list">
         <video src="{{ url_for('static', filename='images/song8.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Suprise Dance</h3>
      </div>

      <div class="list">
         <video src="{{ url_for('static', filename='images/song9.mp4') }}" class="list-video"></video>
         <h3 class="list-title">Hip pop</h3>
      </div>

   </div>

</div>



 
<script>
   let videoList = document.querySelectorAll('.video-list-container .list');
   let isFirstVideo = true; // Flag to check if it's the first video
 
   videoList.forEach((vid, index) => {
     vid.onclick = () => {
       // Remove 'active' class from all list items
       videoList.forEach((remove) => {
         remove.classList.remove('active');
       });
 
       // Add 'active' class to the clicked list item
       vid.classList.add('active');
 
       // Get the source and title of the clicked video
       let src = vid.querySelector('.list-video').src;
       let title = vid.querySelector('.list-title').innerHTML;
 
       // Update all main videos with the clicked video source
       let mainVideos = document.querySelectorAll('.main-video-container .main-video');
       mainVideos.forEach((mainVideo, videoIndex) => {
         if (isFirstVideo && videoIndex === 0) {
           // Play the first video automatically
           mainVideo.src = src;
           mainVideo.load();
           mainVideo.play();
           isFirstVideo = false; // Set flag to false after playing the first video
         } else {
           // Load other videos without playing
           mainVideo.src = src;
           mainVideo.load();
         }
       });
 
       // Update all main titles with the clicked video title
       let mainTitles = document.querySelectorAll('.main-video-container .main-vid-title');
       mainTitles.forEach((mainTitle) => {
         mainTitle.innerHTML = title;
       });
     };
   });
 </script>
 
 




</body>
</html>
